body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd{padding:0;margin:0;}
html{font-size:12px;}
li{list-style:none}
a{text-decoration:none;}
img{vertical-align:top;border:0;}
.cl:after{content:"";clear:both;display:block;height:0;overflow:hidden;visibility:hidden;}
.cl{zoom:1;}
textarea{resize:none;}
input{cursor:poiner;}
input,select,button,textarea{outline:none;}
input{cussor:poiner}

.main{
    box-sizing: border-box;
    padding-top:60px;
    background-color: #E5E6E6;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}