<div class="header">
        <nav class="navbar navbar-default navbar-fixed-top HDcolor">
            <div class="container">
                <span class="iconfont icon-liebiao menu-left"></span>
                <div class="btn-group userinfo">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <%-username %> 
                          <span class=" iconfont icon-yonghu"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a href="/nodeserver/loginout">退出</a></li>
                        </ul>
                      </div>
                <div class="input-group col-md-3 search">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                        </span>
                </div>
            </div>
        </nav>
</div>
    