<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <link rel="stylesheet" href="/libcss/bootstrap.min.css" />
    <link rel="stylesheet" href="/libcss/index.css"/>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_599232_jnim5st0m8jpds4i.css" />
    <script src="/libjs/echarts.min.js"></script>
    <script src="/libjs/jquery.min.js"></script>
    <script src="/libjs/bootstrap.min.js"></script>
  </head>
  <body>
      <%-include('header.ejs',{username}) %>
      <%include asider.ejs %>
      <div class="main">

      </div>
  </body>
  <script>
         
    
  </script>
</html>
