<body>
<form   name="modtify_logistics" id="modtify_logistics" style="overflow: hidden; margin-bottom: 35px;">
    <div class="form-group ">
        <div>
            <div data-toggle="distpicker" id="distpicker" class="form-group" >
            <label for="logisticssname" style="padding-top: 7px;" class="col-sm-1 control-label">新增地址：</label>
            <div class="col-sm-1">
                    <input type="text" class="form-control col-md-2 Mlogisticssname" id="logisticssname" name="logisticssname" placeholder="备注">
            </div>
            <div class="col-sm-2">
                    <select class="col-sm-2 form-control Mprovince" name="province" data-province="---- 选择省 ----"></select>
            </div>
            <div class="col-sm-2">
                <select class="col-sm-2 form-control Mcity" name="city" data-city="---- 选择市 ----"></select>
            </div>
            <div class="col-sm-2">
                <select class="col-sm-2 form-control Mdistrict" name="district" data-district="---- 选择区 ----"></select>
            </div>
            <div class="col-sm-2">
                    <input type="text" class="form-control Maddressdetails" id="addressdetails" 
                    placeholder="详细地址" name="addressdetails" />
            </div>
        </div>
    </div>
</form>
    
</body>