<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>后台注册</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="/libcss/loginOrreigster.css" tppabs="/libcss/loginOrreigster.css" />

<style>
body{height:100%;background:#16a085;overflow:hidden;}
canvas{z-index:-1;position:absolute;}
</style>
<script src="/libjs/jquery.min.js"></script>
<script src="/libjs/Particleground.js" tppabs="/libjs/Particleground.js"></script>
<script>
$(document).ready(function() {
  //粒子背景特效
  $('body').particleground({
    dotColor: '#5cbdaa',
    lineColor: '#5cbdaa'
  });
  //测试提交，对接程序删除即可
});
</script>
</head>
<body>
<dl class="admin_login">
 <dt>
  <strong>后台管理系统</strong>
  <em>Management System</em>
 </dt>
 <dd class="error">
   <span></span>
 </dd>
 <dd class="user_icon">
  <input type="text" placeholder="账号" class="login_txtbx J_username"/>
 </dd>
 <dd class="phone_icon">
  <input type="text" placeholder="电话" class="login_txtbx J_phone"/>
 </dd>
 <dd class="pwd_icon">
  <input type="password" placeholder="密码" class="login_txtbx J_pwd"/>
 </dd>
 <dd class="pwd_icon">
  <input type="password" placeholder="重复密码" class="login_txtbx J_dbpwd"/>
 </dd>
 <dd class="val_icon">
  <div class="checkcode">
    <input type="text" id="J_codetext" placeholder="验证码" maxlength="6" class="login_txtbx J_code">
  </div>
  <input type="button" value="获取验证码" class="ver_btn"  />
 </dd>

 <dd>
  <input type="button" value="立即注册" class="submit_btn" data-toggle="modal" data-target="#myModal"/>
 </dd>
</dl>
</body>
<script src="/actions/config.js"></script>
<script src="/actions/register.js"></script>
</html>
